
h1 {
    background-color: bisque;
    width: 50%;
}

h2 {
    background-color: aqua;
    width: 50%;
}

img {
    height: 55%;
    border-style: inset;
    border-width: 10px;
    border-color: pink;
}

/* Use border shorthand
border: 10px inset pink; */