
h1 {
    background-color: bisque;
    width: 50%;
}

h2 {
    background-color: aqua;
    width: 50%;
}

img {
    height: 55%;
    border-style: inset;
    border-width: 10px;
    border-color: pink;
}

section {
    width: 50%;
    border: 3px solid violet;
    padding: 5px;
}

/* Use border shorthand
border: 10px inset pink; */

/* Can set padding to 0 or input 3 values for padding */