h1 {
    text-align: center;
    font-weight: bold;
    font-size: 5vw;
    font-family: Roboto Mono, sans-serif
}

h2 {

    text-align: center;
    font-family: Roboto Mono, sans-serif;
    font-size: 3vw
}

h3 {

    text-align: center;
    font-weight: bold;
    text-indent: 10%;
    font-family: Roboto Mono, sans-serif;
    font-size: 1.5vw;
}